.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card-img-top{
  width: 350px;
  height: 280px;
}
.title {
  font-family: "Lucida Sans";
  font-size: 40px;
  border-style: outset;
}
.title__card {
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 2px 2px 3px #0b486b;
}
.parrafo__card {
  text-align: justify;
}
