.accordion {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 1000px;
}

.accordion-body {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accordion-body img{
    display: flex;
}