@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
:root {
  --width-desktop: 1920px;
  --color-primary: hsl(180, 65%, 49%);
  --color-gray: hsl(0, 0%, 75%);
  --color-gray-violet: hsl(257, 7%, 63%);
  --color-dark-violet: hsl(257, 27%, 26%);
}
.contain__body {
  background-color: #b7dafb;  
  margin-left: auto;
  margin-right: auto;

}

ul {
  list-style: none;
  text-decoration: none;
}
.header {
  height: 150px;
  background-color: #19bff1;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}
.container__header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
.header__logo {
  width: 180px;
  height: 100px;
}
.header__logo-menu {
  display: none;
}

.header__logo img {
  width: 160px;
  height: 110px;
  /* display: block; */
  align-content: center;
  justify-content: center;
}
.header__nav {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  padding-left: 250px;
}
.header__links {
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: solid;
  font-size: 25px;
  margin: 0;
}
.header__link a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: white;
  width: 230px;
  height: auto;
  padding: 10px 15px;
  margin: 0;
}

nav ul li a:hover {
  background: #19bff1;
  height: 50px;
  text-align: center;
  align-content: center;
  border-radius: 50px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}

.main__index{
  margin-left: auto;
  margin-right: auto;
}
.footer__main {
  background-color: #0b486b;
  display: flex;
  flex-direction: row;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
  justify-content: space-around;
}
.footer__right {
  display: flex;
}
.footer__logo {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
}
.footer__logo img {
  width: 160px;
  height: 110px;
}
.footer__texto {
  display: flex;
  flex-direction: column;
}
.footer__texto p {
  font-size: 25px;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
}
.footer__rrss {
  display: flex;
  width: auto;
  height: 50px;
}
.footer__fb {
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.whatsapp-btn {
  display: flex;

  background-position-y: center;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  font-size: 24px;
}

.joinchat__tooltip {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 7px;
  right: 60px;
  width: auto;
  height: 35px;
  padding: 5px 10px 5px 5px;
  border: none;
  border-radius: 50px;
  background: #fff;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.4s;
  filter: drop-shadow(0 1px rgba(0, 0, 0, 0.4));
}
.bi-person-circle ::before {
  margin-right: 5px;
  color: #999;
}
.joinchat__tooltip ::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: -6px;
  border: 8px solid transparent;
  border-width: 6px 0 6px 8px;
}
.joinchat__tooltip .text {
  color: #525252;
  font-size: 16px;
}
.whatsapp-btn:hover {
  transition: all 0.5s ease-in-out;
  animation: bounce 1.6s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (hover: hover) {
  .whatsapp-btn:hover .joinchat__tooltip {
    opacity: 1;
    animation: none;
    transition: opacity 0.2s;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .header__nav {
    padding-left: 150px;
  }
  .footer__logo {
    height: 150px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .header__nav {
    padding-left: 10px;
  }
  .header__links {
    font-size: 18px;
  }
  .header__link a {
    width: 180px;
  }
  .footer__texto {
    display: flex;
    flex-direction: column;
  }
  .footer__texto p {
    font-size: 19px;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container__header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 400px;
  }
  .header__nav {
    display: none;
  }

  .header__logo-menu {
    display: unset;
    justify-items: right;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;
  }

  .footer__texto {
    display: flex;
    flex-direction: column;
  }
  .footer__texto p {
    font-size: 25px;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  .footer__logo {
    display: flex;
    width: 230px;
    height: 170px;
    padding-bottom: 20px;
  }
  .footer__logo img {
    width: 230px;
    height: 170px;
  }
  .footer__rrss {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .container__header {
    gap: 300px;
  }
  .header__nav {
    display: none;
  }

  .contain__body {
    margin-right: auto;
    margin-left: auto;
  }
  .header__logo-menu {
    display: unset;
    justify-items: right;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;
  }

  .footer__texto {
    display: flex;
    flex-direction: column;
  }
  .footer__texto p {
    font-size: 25px;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  .footer__logo {
    display: flex;
    width: 230px;
    height: 170px;
    padding-bottom: 20px;
  }
  .footer__logo img {
    width: 230px;
    height: 170px;
  }
  .footer__rrss {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .container__header {
    gap: 180px;
  }}