.footer {
  background-color: #0b486b;
}
.footer__main {
  max-width: 1300px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
  justify-content: space-around;
}
.footer__right {
  display: flex;
}
.footer__logo {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
}
.footer__logo img {
  width: 160px;
  height: 110px;
}
.footer__texto {
  display: flex;

  flex-direction: column;
}
.footer__texto p a {
  font-size: 25px;
  margin-bottom: 5px;

  text-decoration: none;
}
.footer__rrss {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}
.footer-icon {
  display: flex;
  padding-top: 30px;
  gap: 100px;
}
.footer__fb {
  width: 40px;
  height: 40px;
}
.footer__fb:hover {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 0.75rem #202cd2);
}
.btnwsp:hover {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 0.75rem #14ca14);
}
